@import url('https://fonts.googleapis.com/css2?family=Alata&family=Kaushan+Script&display=swap');

.cart {
    background-image: url("/images/background cart.jpg");
    background-repeat: no-repeat;
    padding-bottom: 50px;
    min-height: 100vh;

    &__title {
        font-size: 40px;
        color: #fff;
        text-align: center;
        font-weight: 300;
        font-family: 'Kaushan Script', cursive;

    }
    &__list {
        width: 60%;
        margin: 0 auto;
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        border: 1px solid rgba(256,256,256, .2);
        background-color: rgba(0,0,0,.7);
        box-shadow: 0 0 20px rgba(256,256,256, .1);
        &-title, &-price  {
            width: 250px;
            text-align: center;
            color: #fff;
            font-size: 24px;
        }
        &-img {
            height: 125px;
            width: 250px;
            object-fit: cover;
        }
    }
    &__close {
        position: absolute;
        width: 25px;
        height: 25px;
        text-align: center;
        top: -10px;
        right: -10px;
        color: #fff;
        font-size: 20px;
        border-radius: 100%;
        border: 1px solid #fff;
        cursor: pointer;
    }
  &__up{
    color: white;
    margin-top: -16px;
    margin-left: 10px;
  }
  &__down{
    color: white;
    margin-top: 19px;
    margin-left: -13px;
    margin-right: 40px;
  }



}
.order{
  border: 2px solid #e0e1e9;
  margin: 5px;
  display: inline-block;
  position: relative;
  font-family: 'Kaushan Script', cursive;
  background-color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 28px;
  border-radius: 35px;
  display: block;
  margin: 0 auto;
}