
.home-page {
  background-image: url("/images/93.png");
  background-repeat: repeat;

  &__header {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
  }

  &__posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1345px;
    margin: 0 auto;
    margin-top: 30px;

  }
  &__about{
    margin-top: 30px;
  }

  &_post-container {
    flex-direction: column;
  }
}

.home-page .home-page__post {
  max-height: 200px;
}


