@import url('https://fonts.googleapis.com/css2?family=Alata&family=Kaushan+Script&display=swap');

.about-page{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  margin: 0 auto ;
  max-width: 1366px;
  align-items: center;

  &__image-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__image{
   max-width: 400px;
    max-height: 300px;
    padding: 30px;
  }
  &__descr{
    text-align: center;
    padding: 40px;
    font-size: 23px;
    font-family: 'Kaushan Script', cursive;

  }
}