.modal-content {
  margin: 0 auto;
  max-width: 250px;
  display: block;
}
.modal-item_bold{
  font-weight: bold;


}
.modal-title{
  font-size: 16px;
  text-decoration: underline;
}
.modal-item{
  color: dimgrey;

}
@media (max-width: 768px) {
  .ant-modal-content{
    width: 300px;
  }
  
}