@import url('https://fonts.googleapis.com/css2?family=Alata&family=Kaushan+Script&display=swap');

.header {
    background: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
    font-family: 'Kaushan Script', cursive;
    z-index: -5;


    &__link {
        display: flex;
        margin-right: 40px;
        font-size: 30px;
        color: white;
        font-weight: bold;
        text-decoration: none;
        justify-content: space-around;

    }
    &__cart {
        color: dimgrey;
        width: 20px;
        margin-right: 10px;
    }
    &__logo img{
        width: 200px;
    }
    &__link-container{
        margin-left: auto;
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 15px;

        &__link {
            font-size: 23px;
        }

        &__logo {
            display: none;
        }
    }
}