@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');

.header {
    background-image: url("/images/93.png");
    background-repeat: repeat;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 50px;
    font-family: 'Londrina Solid', cursive;

    &__link {
        display: flex;
        margin-right: 40px;
        font-size: 18px;
        color: dimgrey;
        text-decoration: none;
        justify-content: space-around;
    }
    &__cart {
        color: dimgrey;
        width: 20px;
        margin-right: 10px;
    }
    &__logo img{
        width: 60px;
       max-height: 60px;
    }
    &__link-container{
        margin-left: auto;
        display: flex;
    }
}